################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.pyc
/.vs/msgen/v15
/docs/build
